apiVersion: apps/v1
kind: Deployment
metadata:
  name: userapi
spec:
  replicas: 2
  selector:
    matchLabels:
      app: userapi
  template:
    metadata:
      labels:
        app: userapi
    spec:
      containers:
      - name: userapi
        image: your-dockerhub-username/userapi:latest
        ports:
        - containerPort: 5000
        env:
        - name: MYSQL_HOST
          value: "mysql"
        - name: MYSQL_USER
          value: "root"
        - name: MYSQL_PASSWORD
          value: "my-secret-pw"
        - name: MYSQL_DB
          value: "devops_userdb"
---
apiVersion: v1
kind: Service
metadata:
  name: userapi-service
spec:
  type: NodePort
  selector:
    app: userapi
  ports:
    - protocol: TCP
      port: 80
      targetPort: 5000
